$colorprimario:rgb(0, 38, 255);
$colorsecundario:rgb(227, 238, 130);
$backgroundprimario: linear-gradient(to left, rgb(102, 219, 102),yellow,blue);
$bgcolorsecundario:rgb(9, 255, 0);

$color-primario: red;
$color-secundario: #6B6;
$color-texto: #666;

$color-1: #ffff00;
$color-2: #0000ff;

$color-3:rgb(102, 219, 102);
$color-4:yellow;
$color-5:blue;
$color-6:black
