header{
     position:fixed;
     z-index: 5;
      left:0%;
     top: 0%;
     right: 0%;
     height: 100px;
     margin: 100px;
     margin-top: 0%;
     display: grid;
     grid-template-rows: 50px;
     grid-column: 100px 10px 10px 10px 10px;
     background:$backgroundprimario;
      
  div{ 
        a{ 
            img{
                margin-top: 0%;
                width: 150px;
                margin-left: 5px;
                width: 100px; height: 100px;
                transition: all 2s;
                animation-name: paisaje-logo;
                animation-iteration-count: 5;
                animation-timing-function: ease-in;
                animation-duration: 5s;
               }  

                @keyframes paisaje-logo {
                    0% {
                        transform: translateX(-50);
                    }
                    50% {
                        transform: translateY(50);
                    }
                   100%{ 
                       transform:rotate(360deg);
                   }
            }
        }
    } 

     
        
}