
 .position-relative{
                     position: relative;
                    padding-bottom: 10px;
                    margin-bottom: 150px;
                    margin-left: 400px;
                    border: 10px solid black;
}


.position-relativeR{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 150px;
    margin-left: 400px;
}