<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nosotros</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <meta name="KEYWORDS" content="paneles,ahorro,sol,gastos,colocacion,techo,colocacion,istalacion,paneles solares">
    <meta name="Descripcion" content="Empresa oficial tesla, dedicada a la instalacion y venta de insumos de paneles solares">
    <link rel="stylesheet" href="../css/estilouno.css">
</head>
<body class="color">
    <!--HEADER  LOGO + NAV-->
    <header> 
        <div>
            <a href="../index.html"><img src="../assets/img/images-logo-redondo.png" alt="logo"> </a> 
        </div>
          <nav>
             <ul>
                 <li><a href="../index.html">HOME</a></li>
                 <li><a href="#.html">NOSOTROS</a></li>
                 <li><a href="productos.html">PRODUCTOS</a></li>
                 <li><a href="contacto.html">CONTACTO</a></li>
                 <li><a href="nuestrosClientes.html">NUESTROS CLIENTES</a></li>
             </ul>
          </nav>
        </div> 
     </header> 
    <main>
        <div>
            <article>
                <H1>SOBRE NOSOTROS</H1>
        </div>
           <div>
                <p class="parrafo-nosotros text-center mb-5">
                   Somos una empresa de dedicada, donde tenemos como filosofía el cuidado del medio ambiente
                   y el aprovechamiento de la energía del sol, transformando la energía de la naturaleza
                   en energía eléctrica para nuestros clientes. Creemos fuertemente en la innovación y
                   la sustentabilidad como medios para llevar adelante esta nueva forma de hacer energía
                   que avanza día tras día y que nos impulsa dinámicamente a pensar en un futuro más
                   verde, sustentable y sobre todo renovable. Contamos con un equipo de ingenieros 
                   dedicados y capacitados en energías sustentables que buscan constantemente
                   conseguir los mejores resultados.
                </p>
            </div>
        
            <!--CUERPO-->
            <div class="row carusel-de-fotos">
                <div class="col-lg-6 col-ms-12 text-center ml-3 carusel-de-fotos1">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                             <img class="d-block w-100" src="../assets/img/panelEnCasa.jpg" alt="First slide">
                          </div>
                          <div class="carousel-item">
                             <img class="d-block w-100" src="../assets/img/trabajador.jpg" alt="Second slide">
                          </div>
                          <div class="carousel-item">
                             <img class="d-block w-100" src="../assets/img/700panel.jpeg" alt="Third slide">
                          </div>
                        </div>
                    </div>
                </div>
           </div>
            <div class="row">
                <div class="col-lg-12 col-ms-12 text-center alert-warning mb-5">
                   <h4>TE OFRECEMOS</h4>
                </div>
            </div>
            <div class="row">
                <div class="list-group col-lg-12 col-ms-12 text-center ml-3 mb-5">
                    <a href="contacto.html" class="list-group-item list-group-item-action bg-warning text-white">
                      EL MEJOR SERVICIO
                    </a>
                    <a href="contacto.html" class="list-group-item list-group-item-action bg-success text-white">ASISTENCIA</a>
                    <a href="contacto.html" class="list-group-item list-group-item-action bg-warning text-white">INSTALACION</a>
                    <a href="contacto.html" class="list-group-item list-group-item-action bg-success text-white">INSPECCION DE SISTEMAS</a>
                </div>
            <div>
            <div class="row">
                <div class="col-lg-12 col-sm-12 mb-5">
                    <p class="parrafo text-center mb-5">
                       Ayudamos a los propietarios de viviendas residenciales a convertir 
                      sus hogares en energía renovable. Ofrecemos paneles solares de la mejor
                      calidad a un precio asequible y de manera oportuna.
                      Permítanos guiarlo a través del proceso de convertir su hogar en una solución
                      energéticamente independiente.
                    </p>
                </div>
            </div> 
    </main>            
    <!--footer-->
    <footer>
            <h3>Redes Sociales</h3>
        <div>
            <a href="https://www.instagram.com/?hl=es-la"  rel="instagram" target="blank"> <img src="../assets/img/insta.jfif" alt="logo intagram" > </a>
            <a href="https://www.whatsapp.com/"  rel="whatsapp" target="blank"> <img src="../assets/img/whatsapp.jfif" alt="logo whatsapp"> </a>
            <a href="https://www.facebook.com/"  rel="face" target="blank"><img src="../assets/img/facebook.png" alt="facebook"> </a>
        </div>
        <div>
            <a href="views/contacto.html"></a>
        </div>
   
    </footer>  

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>     
</html>